## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

Another suggestion for providing actionable insights to the head of Microsoft's new movie studio would be to 

identify and analyze the performance of similar films that have recently been released or are currently in production. 

such as certain storylines, characters, or settings.

By analyzing the performance of similar films, the studio can identify key trends and themes that are popular among audiences, such as certain storylines, characters, or settings. They can also look at the marketing and distribution strategies used by other studios and see what worked well and what didn't.

Additionally, the studio could also analyze the performance of films produced by rival studios, to see what they are doing well, and where they can improve. This can help the studio to find a niche in the market and differentiate themselves from their competitors.

The studio could also invest in market research and focus groups to gather more information about what audiences are looking for in a film. This will give them a better understanding of the preferences of their target audience and help them to create films that will appeal to them.

In [2]:
# Your code here - remember to use markdown cells for comments as well!

In [3]:
import pandas as pd

In [4]:
import gzip

In [5]:
rt_reviews = pd.read_csv(gzip.open('zippedData/rt.reviews.tsv.gz', 'rt',encoding='latin-1'), sep='\t')

In [8]:
rt_reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [6]:
df6 = pd.read_csv('zippedData/bom.movie_gross.csv.gz')

In [7]:
df6.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010